/* Get Started screen */
.select-adventure-container{
    width: 300px;
    margin-top: calc(40vh - 56px);
    transform: translateY(-50%);
}

/* Camera  */
.camera-content{
    --background: transparent !important;
    background: transparent !important;
  }
  .camera-content video{
    width:calc(100vw - 42px);
    height:calc(100vw - 42px);
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 50px;
    padding: 5px;
    margin-top: 35px;
  }
  .camera-container {
    overflow: hidden;
      --b:6px;   /* thickness of the border */
      --c:var(--ion-text-color);   /* color of the border */
      --w:50px;  /* width of border */
      --r:50px;  /* radius */
      --top:45vh;
      --header:72px;
      --maxWidth:500px;
      --padding:16px;

      padding:var(--b); /* space for the border */

      position:relative;
      /*Irrelevant code*/
      margin-top: calc(var(--top) - var(--header)
                       - calc(min(var(--maxWidth),calc(100vw - 2*var(--padding) - 2*var(--b))))/2) !important;
      width:calc(100vw - 42px);
      height:calc(100vw - 42px);
      max-width: 500px;
      max-height: 500px;
      box-sizing:border-box;
      margin:5px;
      display:inline-flex;
      font-size:30px;
      justify-content:center;
      align-items:center;
      line-height:90px;
    }
    .camera-container::before {
      content:"";
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background:var(--c,--ion-text-color);
      padding:var(--b);
      border-radius:var(--r);
      -webkit-mask:
        linear-gradient(#fff 0 0) top   /calc(100% - 2*var(--w)) var(--b),
        linear-gradient(#fff 0 0) bottom/calc(100% - 2*var(--w)) var(--b),
        linear-gradient(#fff 0 0) left  /var(--b) calc(100% - 2*var(--w)),
        linear-gradient(#fff 0 0) right / var(--b) calc(100% - 2*var(--w)),
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite:destination-out;
      -webkit-mask-repeat:no-repeat !important;
      mask:
        linear-gradient(#fff 0 0) top   /calc(100% - 2*var(--w)) var(--b),
        linear-gradient(#fff 0 0) bottom/calc(100% - 2*var(--w)) var(--b),
        linear-gradient(#fff 0 0) left  /var(--b) calc(100% - 2*var(--w)),
        linear-gradient(#fff 0 0) right / var(--b) calc(100% - 2*var(--w)),
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite:exclude ;
      mask-repeat:no-repeat ;
    }

    /* Verification screen */


.verification-item{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #ABABB0;
}

